.container {
  display: flex;
  background-color: grey;
  border: solid black;
  width: 800px;
  height: 800px;
  flex-wrap: wrap;
}

.square {
  box-sizing: border-box;
  background-color: white;
  border: solid 1px rgb(83, 83, 83, 0.15);
}

.color {
  background-color: rgb(216, 36, 36);
}

form {
  display: inline;
}
